/*-------App-------*/ 
#app-wrapper{
  width: 100vw;
  height:100vh;
  margin: 0; 
}

#app-container { 
  display: grid; 
  grid-template-columns: 0.8fr 0.9fr 4fr 0.8fr;
  grid-template-rows: 10vh 100%; 
}

#sidebar-container {
  grid-column: 2;
  grid-row: 2;
  z-index: 1500; 
}

#main-container { 
  grid-column: 3;
  grid-row: 2; 
  background-color: #F9F9FB;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 20px 30px 60px 0.5px rgb(0, 0, 0, 0.2);
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #E4E5EC;
  color: #27647C;
}

/* ----- Header Logo ----- */ 
#logo-container { 
  display: flex; 
  width: 100%;
  justify-content: flex-end;
  align-content: center;
  height: 150px; 
}

.logo {
  height: 15vh;
  justify-self: flex-end;
  align-self: center;
  padding: 4vh 4vw; 
}

/*--------About Page--------*/
.main {
  text-align: center;
  margin: 0; 
  margin-left: 12vw;
  margin-right: 12vw;
}

.main h3 { 
  font-weight: 500;
}

/*paragraph description*/ 
#about-me{
text-align: justify; 
font-size: 14px;
padding-top: 5vh;
font-weight: 300;
}

.title h3 {
  padding-bottom: 3vh;
}

/* ----- Footer Contact Info ----- */ 
#contact-info { 
  padding-top: 8vh;
  padding-bottom: 8vh; 
  justify-self:  center;
  display: grid; 
  grid-template-columns: 46% 8% 46%; 
}

#contact-info-projects {
  padding-top: 8vh;
  padding-bottom: 8vh; 
  justify-self:  center;
  display: grid; 
  grid-template-columns: 46% 8% 46%; 
  margin-left: 12vw;
  margin-right: 12vw;
  text-align: center;
}

.three-circles {
  height: 5vh;
  align-self: center;
  grid-column: 2;
  opacity: 0.70;
  justify-self: center;
  padding-top: 7vh;
  padding-bottom: 3vh;

}
.footer-icon {
  padding:1px;
  height:15px; 
  justify-self:center;
  align-self: center; 
}
#github-icon {
  width: 90px;
  height: 60px;
  opacity: 0.85;
  padding-top: 8vh; 
}


#left-side a {
  height:25%;
}
#right-side a {
  height:25%;
}
#left-side { 
  grid-column: 1; 
  font-size: small;
  height: 20px; 
  grid-row:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:100%;
}

#right-side { 
  grid-column: 3;
  grid-row:1;
  font-size: small;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:100%;
}
