/*-------App-------*/
@import url("bulma/css/bulma.css");
@import url("material-design-icons/iconfont/material-icons.css");

body {
  font-family: "Montserrat", sans-serif;
  color: #27647c;
  height: 100vh;
  width: 100%;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}
html {
 scroll-snap-type: y mandatory;
 scroll-behavior: smooth;
}
.snap-child {
  scroll-snap-align: start;
}

#app-wrapper {
display: grid; 
grid-template-rows: 100vh 100vh 100vh; 
}


/*------ Resume -------*/
#resume-container {
  width: 100%;
}
#resume-container-mobile {
  width: 100%;
  display: none;
}

embed { 
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  zoom: 100%; 
}
/*---------Projects ----------*/
#projects {
  grid-row: 2; 
}
#projects-container {
  display: grid; 
  grid-template-columns: 9vw 35vw 35vw 9vw;
  grid-template-rows: auto auto;
  grid-gap: 4vh 4vw;
}
.project {
  height: 42vh;  
  text-align: justify;
  font-size: 0.9vw;
  overflow: scroll;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 20px 30px 45px 0.5px rgba(36, 35, 35, 0.30);
  overflow:scroll; 
}

#ad-magic {
  grid-column: 2;
  grid-row: 2;
}

#til {
  grid-column: 2;
  grid-row: 3;
}

#geo-vt {
  grid-column: 3;
  grid-row: 3;
}

#yelp {
  grid-column: 3;
  grid-row: 2;
}

#github-icon {
  justify-self: center; 
  height: 5vh;
  width: auto;
  opacity: 0.85;
  margin-top: 1vh;
}
#github-icon-container {
  display: flex; 
  justify-content: center;
    }

#languages {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 50%,
    #fffab6 50%
    );
  background-position: -0% 0;
  background-size: 200% 50%;
  line-height: 1.2vw;
  text-decoration: none;
  transition: background-position 0.5s ease-out;
  vertical-align: middle;
  display: table-cell;
}

a {
  text-decoration: none;
  color: #27647c;
}

#languages:hover {
  background-position: -99.99% 0%;
}

.project:hover {
  width: 105%; 
}
.project-description {
  padding: 1.1vw;
}
.gif {
  width: 100%;
  border-radius: 5px; 
}

.gif:hover {
  filter: brightness(105%);
}

@media only screen and (max-width: 600px) {
  body {
    overflow-y: scroll;
    height: 100vh;
    margin: 0; 
    padding-bottom: 20px; 
  }
  html {
    height: 100%; 
  }
  #app-container {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 25vw 100%;
  }

  .main {
    grid-column: 1;
    text-align: center;
    margin: 0;
    margin-left: 5vw;
    margin-right: 5vw;
    display: inline-block;
    width: 90vw;
  }

  .main h3 {
    font-weight: 500;
    text-align: center;
  }

  #sidebar-container {
    grid-row: 1;
    grid-column: 1;
    z-index: 1500;
  }
  #main-container {
    grid-column: 1;
    grid-row: 2;
    background-color: #f9f9fb;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0px;
    box-shadow: 20px 30px 60px 0.5px rgb(0, 0, 0, 0.2);
  }

  #logo-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-content: center;
    height: 30vh;
  }

  .logo {
    height: 15vh;
    justify-self: flex-end;
    align-self: center;
    padding: 4vh;
  }
  #projects-container {
    display: grid;
    grid-template-columns: 1vw 1fr 1vw;
    grid-template-rows: 1vw auto auto auto auto;
    grid-gap: 4vh;
  }

  #ad-magic {
    grid-column: 2;
    grid-row: 2;
  }

  #til {
    grid-column: 2;
    grid-row: 3;
  }

  #geo-vt {
    grid-column: 2;
    grid-row: 4;
  }

  #yelp {
    grid-column: 2;
    grid-row: 5;
    margin-bottom: 5vh; 
  }
  


  .project {
    text-align: justify;
    font-size: 2.1vw;
    overflow: scroll;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 20px 30px 60px 0.5px rgba(123, 120, 120, 0.15);
  }

  #project-title { 
    text-align: center;
    font-weight: bold; 
  }

  #github-icon {
    height: 5vw;
    width: auto;
    opacity: 0.85;
    margin-top: 1vh;
    align-self: center; 
  }


  .project:hover {
    width: 105%;
  }
  .project-description {
    padding: 1.1vw;
  }
  .gif {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .gif:hover {
    filter: brightness(105%);
  }
  #resume-container-mobile {
    display: flex;
  }

  #resume-container{
    display: none; 
  }
  #resume-pdf {
    width: 10vw !important;
    margin: 0 auto; 
    height: 1100px; 
  }
}
