/*-------App-------*/
@import url("bulma/css/bulma.css");
@import url("material-design-icons/iconfont/material-icons.css");

body {
  font-family: "Montserrat", sans-serif;
  background-color: #e4e5ec;
  color: #27647c;
  height: 100vh;
  width: 100%;
  overflow: scroll;
}

#app-wrapper {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#app-container {
  display: grid;
  grid-template-columns: 0.6fr 0.9fr 4fr 0.6fr;
  grid-template-rows: 10vh auto;
}

#sidebar-container {
  grid-column: 2;
  grid-row: 2;
  z-index: 1500;
}

#main-container {
  grid-column: 3;
  grid-row: 2;
  background-color: #f9f9fb;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 20px 30px 60px 0.5px rgb(0, 0, 0, 0.1);
}

/* ----- Header Logo ----- */
#logo-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-content: center;
  height: 30vh;
}

.logo {
  height: 20vh;
  justify-self: flex-end;
  align-self: center;
  padding: 4vh;
}

/*--------About Page--------*/
.main {
  grid-column: 1;
  text-align: center;
  margin: 0;
  margin-left: 4vw;
  margin-right: 4vw;
  display: inline-block;
}

.main h3 {
  font-weight: 500;
  text-align: center;
}

/*paragraph description*/
#about-me {
  text-align: justify;
  padding: 5vh;
  font-weight: 300;
  font-size: 1.1vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #d7d8e998;
  box-shadow: 50px 30px 60px 0.5px rgba(123, 120, 120, 0.1);
}

.title h3 {
  padding-bottom: 3vh;
}

/* ----- Footer Contact Info ----- */
#contact-info {
  padding-top: 8vh;
  padding-bottom: 8vh;
  justify-self: center;
  display: grid;
  grid-template-columns: 46% 8% 46%;
  text-align: center;
}

#contact-info-projects {
  padding-top: 8vh;
  padding-bottom: 8vh;
  justify-self: center;
  display: grid;
  grid-template-columns: 46% 8% 46%;
  text-align: center;
}

.three-circles {
  height: 7vh;
  align-self: center;
  grid-column: 2;
  opacity: 0.7;
  justify-self: center;
  margin-top: 1vh;
}
.footer-icon {
  height: 3vh;
  justify-self: center;
  align-self: center;
}

#about-github-icon {
  height: 5vh;
  width: auto;
  opacity: 0.85;
  margin-top: 12vh;
  justify-self: center;
}

#github-icon {
  width: 90px;
  height: 60px;
  opacity: 0.85;
  margin-top: 1vh;
  justify-self: center;
}

#github-icon-container {
  width: 100%;
  text-align: center;
}

#left-side {
  grid-column: 1;
  font-size: 2vh;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-content: center;
  height: 100%;
}

#right-side {
  grid-column: 3;
  grid-row: 1;
  font-size: 2vh;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

/*------ Resume -------*/
#resume-container {
  width: 100%;
}
#resume-container-mobile {
  width: 100%;
  display: none;
}

embed { 
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  zoom: 100%; 
}
/*---------Projects ----------*/

#projects-container {
  display: grid;
  grid-template-columns: 1vw 1fr 1fr 1vw;
  grid-template-rows: 1vw auto auto;
  grid-gap: 10vh;
}

#ad-magic {
  grid-column: 2;
  grid-row: 2;
}

#til {
  grid-column: 2;
  grid-row: 3;
}

#geo-vt {
  grid-column: 3;
  grid-row: 3;
}

#yelp {
  grid-column: 3;
  grid-row: 2;
}

#github-icon {
  height: 5vh;
  width: auto;
  opacity: 0.85;
  margin-top: 1vh;
}

.project {
  text-align: justify;
  font-size: 0.9vw;
  overflow: scroll;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 20px 30px 60px 0.5px rgba(36, 35, 35, 0.20);
}

.project:hover {
  width: 105%;
}
.project-description {
  padding: 1.1vw;

}
.gif {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.gif:hover {
  filter: brightness(105%);
}

@media only screen and (max-width: 600px) {
  body {
    overflow-y: scroll;
    height: 100vh;
    margin: 0; 
    padding-bottom: 20px; 
  }
  html {
    height: 100%; 
  }
  #app-container {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 25vw 100%;
  }

  .main {
    grid-column: 1;
    text-align: center;
    margin: 0;
    margin-left: 5vw;
    margin-right: 5vw;
    display: inline-block;
    width: 90vw;
  }

  .main h3 {
    font-weight: 500;
    text-align: center;
  }

  #sidebar-container {
    grid-row: 1;
    grid-column: 1;
    z-index: 1500;
  }
  #main-container {
    grid-column: 1;
    grid-row: 2;
    background-color: #f9f9fb;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0px;
    box-shadow: 20px 30px 60px 0.5px rgb(0, 0, 0, 0.2);
  }

  #logo-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-content: center;
    height: 30vh;
  }

  .logo {
    height: 15vh;
    justify-self: flex-end;
    align-self: center;
    padding: 4vh;
  }
  #projects-container {
    display: grid;
    grid-template-columns: 1vw 1fr 1vw;
    grid-template-rows: 1vw auto auto auto auto;
    grid-gap: 4vh;
  }

  #ad-magic {
    grid-column: 2;
    grid-row: 2;
  }

  #til {
    grid-column: 2;
    grid-row: 3;
  }

  #geo-vt {
    grid-column: 2;
    grid-row: 4;
  }

  #yelp {
    grid-column: 2;
    grid-row: 5;
    margin-bottom: 5vh; 
  }
  #about-github-icon {
    height: 5vh;
    width: auto;
    opacity: 0.85;
    margin-top: 5vh;
    margin-bottom: 2vh;
    justify-self: center;
  }
  #about-me {
    grid-column: 1;
    text-align: justify;
    margin-top: 5vh;
    padding: 5vh;
    font-weight: 300;
    font-size: 2.5vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #d7d8e998;
    box-shadow: 50px 30px 60px 0.5px rgba(123, 120, 120, 0.1);
  }
  #logo-container {
    display: none;
  }

  .logo {
    height: 20vh;
    justify-self: flex-end;
    align-self: center;
    padding: 4vh;
  }

  #contact-info {
    padding-top: 0vh;
    padding-bottom: 0vh;
    justify-self: center;
    display: grid;
    grid-template-columns: 46% 8% 46%;
  }
  #left-side {
    grid-column: 1;
    font-size: 1.5vh;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  #right-side {
    grid-column: 3;
    grid-row: 1;
    font-size: 1.5vh;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .three-circles {
    height: 5vh;
    align-self: center;
    grid-column: 2;
    opacity: 0.7;
    justify-self: center;
    margin-top: 2vh;
  }
  .footer-icon {
    height: 2.5vh;
    justify-self: center;
    align-self: center;
    text-align:center;
  }

  .project {
    text-align: justify;
    font-size: 2.1vw;
    overflow: scroll;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 20px 30px 60px 0.5px rgba(123, 120, 120, 0.15);
  }

  #github-icon {
    height: 5vw;
    width: auto;
    opacity: 0.85;
    margin-top: 1vh;
  }

  .project:hover {
    width: 105%;
  }
  .project-description {
    padding: 1.1vw;
  }
  .gif {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .gif:hover {
    filter: brightness(105%);
  }
  #resume-container-mobile {
    display: flex;
  }

  #resume-container{
    display: none; 
  }
  #resume-pdf {
    width: 10vw !important;
    margin: 0 auto; 
    height: 1100px; 
  }
}
