/*---------Home Page-----------*/
@font-face {
  font-family: fonescaBlack;
  src: url(../fonts/fonesca/Fonseca-Black.otf);
}

@font-face {
  font-family: fonescaThin;
  src: url(../fonts/fonesca/Fonseca-Thin.otf);
}

@font-face {
  font-family: fonescaMed;
  src: url(../fonts/fonesca/Fonseca-Medium.otf);
}

@font-face {
  font-family: fonescaReg;
  src: url(../fonts/fonesca/Fonseca-Regular.otf);
}

body {
  height: 100vh;
}
#home-page {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 60vw 40vw;
  overflow: hidden;
  position: relative; 
}

#comp-wrapper {
  width: 100%;
  height: 100vh;
  background: #00a99d;
  grid-column: 1;
}

#about-me-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #dce3eb;
}

#home-page img {
  height: minmax(90vh, 100vh);
  width: auto;
}

.about-me-tile {
  text-align: left;
  padding: 3vh;
  margin: 5vh;
  font-weight: 300;
  font-size: 1.2vw;
  font-family: fonescaReg;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #eef2f5;
  box-shadow: 20px 20px #00a99d;
}

.about-me-tile:active {
  transform: translate(20px, 20px);
  box-shadow: 0px 0px #00a99d;
}

.about-me-text {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 50%,
   #fffab6 50%
  );
  background-position: -0% 0;
  background-size: 200% 50%;
  line-height: 1.2vw;
  text-decoration: none;
  transition: background-position 0.5s ease-out;
  vertical-align: middle;
  display: table-cell;
}

a {
  text-decoration: none;
  color: #27647c;
}

.about-me-text:hover {
  background-position: -99.99% 0%;
}

/*dark settings*/
#comp-dark {
  width: 100%;
  height: 100vh;
  background-color: #dce3eb;
  grid-column: 1;
}

#about-me-dark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #00a99d;

}

.tile-dark {
  text-align: left;
  padding: 3vh;
  margin: 5vh;
  font-weight: 300;
  font-size: 1.2vw;
  font-family: fonescaReg;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(153,153,153);
  color: rgb(153,153,153); 
  box-shadow: 20px 20px #eef2f5;
}

.tile-dark:active {
  transform: translate(20px, 20px);
  box-shadow: 0px 0px #00a99d;
}

.text-dark {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 50%,
    rgb(236, 241, 187) 50%
  );
  background-position: -0% 0;
  background-size: 200% 50%;
  line-height: 1.2vw;
  text-decoration: none;
  transition: background-position 0.5s ease-out;
  vertical-align: middle;
  display: table-cell;
}

a {
  text-decoration: none;
  color: #27647c;
}

.text-dark:hover {
  background-position: -99.99% 0%;
}




:root {
	/* minFontSize + (maxFontSize - minFontSize) * (100vw - minVWidth)/(maxVWidth - minVWidth) */
	font-size: calc(10px + (20 - 10) * (100vw - 320px)/(960 - 320));
}


input {
	display: block;
	margin-bottom: 1.5em;
  font-size: 1em;
	line-height: 1.5;
  position: absolute;
  top: 1vw;
  right: 1vw;
  /* z-index: 100; */
}

.l {
	background-color: rgba(0,0,0,0.7);
	border-radius: 0.75em;
	box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.3) inset;
	color: #fdea7b;
	display: inline-flex;
	align-items: center;
	margin: auto;
	padding: 0.15em;
	width: 3em;
	height: 1.5em;
	transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.l:before, .l:after {
	content: "";
	display: block;
}
.l:before {
	background-color: #d7d7d7;
	border-radius: 50%;
	width: 1.2em;
	height: 1.2em;
	transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
	z-index: 100;
}
.l:after {
	background:
		linear-gradient(transparent 50%, rgba(0,0,0,0.15) 0) 0 50% / 50% 100%,
		repeating-linear-gradient(90deg,#bbb 0,#bbb,#bbb 20%,#999 20%,#999 40%) 0 50% / 50% 100%,
		radial-gradient(circle at 50% 50%,#888 25%, transparent 26%);
	background-repeat: no-repeat;
	border: 0.25em solid transparent;
	border-left: 0.4em solid #d8d8d8;
	border-right: 0 solid transparent;
	transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
	transform: translateX(-22.5%);
	transform-origin: 25% 50%;
	width: 1.2em;
	height: 1em;
}
/* Checked */
.l:checked {
	background-color: rgba(0,0,0,0.45);
	box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.1) inset;
}

.l:checked:before {
	background-color: currentColor;
	transform: translateX(125%)
}

.l:checked:after {
	border-left-color: currentColor;
	transform: translateX(-2.5%) rotateY(180deg);
}

.l:focus {
	outline: 0;
}
/*hamburger menu*/
.menu {
  position: absolute;
  z-index: 30; 
  top: 1vw;
  left:1vw;
  width: 2vw;
  height: 2vw;
  padding: 2vw;
  background: #e8e8f3;
  border-radius: 50%;
  cursor: pointer;
  background-image: url("./../images/menuIcon.svg"); 
  background-repeat: no-repeat; 
  background-size: 50%; 
  background-position: center; 
  /* box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px rgba(255, 255, 255, 1), inset 0px 0px 4px rgba(255, 255, 255, 0.2), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7
  x 20px rgba(255, 255, 255, 0), 0px 0px 4px rgba(255, 255, 255, 0); */
}

#button-container {
  width: 4vw; 
  z-index: 30; 
  display: flex; 
  flex-direction:column; 
  justify-content: space-between;
  position: absolute;
  top: 6vw;
  left:1vw;
  height: 25vw;
}

.menu-item {
 width: 4vw;  
  height: 4vw; 
padding: 0.5vw; 
  border-radius: 50%; 
  background-color: #e8e8f3;
}

#github-button {
  content: url("./../images/gitHub.svg");
}

#email-menu-item {
  background-image: url("./../images/email.svg");
  background-size: 60%; 
  background-repeat: no-repeat; 
  background-position: center; 
}

#linked-in-button { 
  background-image: url("./../images/linkedIn.svg");
  background-size: 50%; 
  background-repeat: no-repeat; 
  background-position: center; 
}

#up {
  background-image: url("./../images/up.svg");
  background-size: 50%; 
  background-repeat: no-repeat; 
  background-position: center; 
}

#down{
  background-image: url("./../images/down.svg");
  background-size: 50%; 
  background-repeat: no-repeat; 
  background-position: center;
}

.hide-menu {
  display: none; 
}


@media only screen and (max-width: 600px) {

  #home-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
    position: relative; 
  }
  
  #comp-wrapper {
    width: 100%;
    height: 50vh;
    background: #00a99d;
  }
  
  #about-me-wrapper {
    width: 100%; 
    height: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #dce3eb;
  }
  
  #home-page img {
    height: minmax(90vh, 100vh);
    width: 100%;
  }
  
  .about-me-tile {
    text-align: left;
    padding: 3vh;
    margin: 3vh;
    font-weight: 300;
    font-size: 3vw;
    font-family: fonescaReg;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #eef2f5;
    box-shadow: 20px 20px #00a99d;
  }
  
  .about-me-tile:active {
    transform: translate(20px, 20px);
    box-shadow: 0px 0px #00a99d;
  }
  
  .about-me-text {
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 50%,
     #fffab6 50%
    );
    background-position: -0% 0;
    background-size: 200% 50%;
    line-height: 3vw;
    text-decoration: none;
    transition: background-position 0.5s ease-out;
    vertical-align: middle;
    display: table-cell;
  }
}
