/*---------Home Page-----------*/ 
#home-page { 
    text-align: center;
    background: url("./../images/yellowbg.png");
    width: 100vw;
    height: 100vh;
    display: flex; 
    align-items: center;
    justify-content: center;
    z-index:1000; 
  }
  
  #home-page img {
    width: 700px;
    height:574px;
  }
  
  #home-page img:hover {
    cursor: pointer;
  }